aiohttp
blinker
bson
cryptography
dnspython>=1.16.0
dnstwist
domcheck
email-validator
email_split
fastapi>=0.68.0
feedgen
feedgenerator
gcloud
geoip2
google-cloud-datastore
google-cloud-pubsub
gunicorn
httpx
idna>=2.8
ipaddress
itsdangerous
jinja2
lxml
mailjet_rest
openai
ppdeep>=20200505
pydantic>=1.8.0
python-dateutil
python-jose
python-multipart>=0.0.5
python-whois
pyyaml
PySocks
redis>=4.5.0
requests
simplejson
slowapi
starlette>=0.14.0
tld>=0.9.1
typing-extensions>=4.0.0
ua-parser
user-agents
urllib3
uvicorn>=0.15.0
validate-email
validators
whois
# py-tlsh
# py-tlsh>=4.5.0
# ssdeep

