<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>XposedOrNot: Alert Me Activation Failed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://xon-beta.pages.dev/static/css/success.css" type="text/css" rel="stylesheet" defer>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600%2C700%2C900&#038;subset' type=text/css media=all>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />
  </head>
  <body style="font-family:Poppins;color:#3c5fec">
    <br>
    <div class="container" align="center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <b>
          <a style="color:#3c5fec" class="navbar-brand" href="https://xposedornot.com">XposedOrNot</a>
        </b>
      </nav>
      <div class="boxx">
        <img class="s" src="https://xon-beta.pages.dev/static/images/failure.png"></img>
        
        <div align="center">
          <div class="alert alert-danger" role="alert">
            <h3>
            <b>Email Verification Failed !</b>
            </h3>            
             Sorry, but we couldn't validate your email for this domain.<br><br>
             This might be because the link expired after an hour or because you're already signed up for domain alertme system. 
             <br><br>Please try signing up again and click on the verification link within an hour.<br>
            
            </div>
        </div>
        <br>
        <br>
        <a style="color:#3c5fec" href="https://twitter.com/xposedornot" target="_blank" rel="noopener">&nbsp <i class="fab fa-twitter fa-3x"></i>
        </a>
        <a style="color:#3c5fec" href="https://facebook.com/xposedornot" target="_blank" rel="noopener">&nbsp <i class="fab fa-facebook fa-3x"></i>
        </a>
        <br>
      </div>
    </div>
  </body>
</html>
