name: Lint

on: [push, pull_request]

permissions:
  contents: read  

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2  # 25.11.0
