name: Lint

on: [push, pull_request]

permissions:
  contents: read  

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2  # 25.11.0
