name: Lint

on: [push, pull_request]

permissions:
  contents: read  

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: psf/black@stable
