name: Python Lint

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}    

    - name: Install dependencies
      run: |
        python -m pip install pip==24.3.1
        pip install -r requirements.txt

    - name: Install Pylint
      run: |
        pip install pylint==3.3.1

    - name: Run Pylint
      run: |
        pylint --fail-under=8 $(git ls-files '*.py')
