name: Python Lint

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}    

    - name: Install dependencies
      run: |
        python -m pip install --require-hashes -r .github/requirements-pip.txt
        pip install -r requirements.txt

    - name: Install Pylint
      run: |
        pip install --require-hashes -r .github/requirements-pylint.txt

    - name: Run Pylint
      run: |
        pylint --fail-under=8 $(git ls-files '*.py' | grep -v '^.github/fuzz/')
